@model IEnumerable<RSSNews.Models.News>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PubDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        @if (User.Identity.IsAuthenticated)
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("RowPartial", item);
    }



    @{ var first = Model.FirstOrDefault(); }
        @Html.Partial("RowPartial", first);
</table>

<input type="button" class="btn btn-default moar" id="moar" value="More"/>



@if (User.Identity.IsAuthenticated)
    {
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".like").click(function () {
                var btn = $(this);
                var id = btn.attr("data-id");
                $.ajax({
                    type: "POST",
                    url: "/News/LikeNews",
                    data: `{id: "${id}" }`,
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    //success: function (response) {
                    //    alert("Hello: " + response);
                    //    btn.parent().prev().prev().html(response);
                    //},
                    //failure: function (response) {
                    //    alert(response.responseText);
                    //},
                    //error: function (response) {
                    //    alert(response.responseText);
                    //}
                });
                btn.attr("disabled", true);
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $(".moar").click(function () {
                var btn = $(this);
                $.ajax({
                    type: "POST",
                    url: "/News/GetRow",
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (response) {
                        $(".table").append(response);
                    },
                    //failure: function (response) {
                    //    alert(response.responseText);
                    //},
                    //error: function (response) {
                    //    alert(response.responseText);
                    //}
                });
            });
        });
    </script>
}
