@model RSSNews.Models.News  
     
@if (Model.Category == "None")
{
    Model.Category = Model.Source.Category;
}

@{ 
    string descrTxt = Model.Description;
    var descrImgs = HTMLManipulation.SplitOffImgs(ref descrTxt);
}

<div class="col-md-6 col-sm-12">
    <div class="row">
        <div class="col-xs-12 title">
            <a href="@Model.Link">@Html.DisplayFor(modelItem => Model.Title)</a>
        </div>
        <div class="col-xs-6 date">
            @Html.DisplayFor(modelItem => Model.PubDate)
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-xs-2">
            <input type="button" class="btn btn-primary like" id="like" value="Like" data-id="@($"{Model.Id}")" />
        </div>
        <div class="col-xs-4 category">
            @Html.DisplayFor(modelItem => Model.Category)
        </div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 desc img">
            @Html.Raw(descrImgs.FirstOrDefault())
        </div>
        <div class="col-xs-6 desc text">
            @Html.Raw(descrTxt)
        </div>
    </div>
</div>

    @*<tr>
        <td>
            <a href="@Model.Link">@Html.DisplayFor(modelItem => Model.Title)</a>
        </td>
        <td>
            @Html.Raw(Model.Description)
            @*//@Html.DisplayFor(modelItem => item.Description)*//@
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.PubDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Category)
        </td>
        @if (User.Identity.IsAuthenticated)
            {
            <td>
                <input type="button" class="btn btn-primary like" id="like" value="Like" data-id="@($"{Model.Id}")" />
            </td>
        }
    </tr>*@
